@import 'https://fonts.googleapis.com/css?family=Quicksand';

html, body {
    margin: 0;
}
nav {
    width: 100%;
    position: fixed;
    padding: 30px 0;
    z-index: 2;
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0px 40px;
    padding: 10px 20px;
    top: 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color: inherit;
    transition: ease-in-out 0.3s;
}

nav a:hover {
    color: #66bb6a;
    border-bottom: 3px solid #66bb6a;
}

nav .logo h1 {
    float: left;
    margin: 0;
    font-size: 30px;
}

nav .logo img {
    float: left;
    margin: -20px 20px 0px 30px;
    padding: 0px;
    width: 70px;
    background-color: white;
}

.page {
    z-index: 1;
    padding: 150px 20px 100px 20px;
}

form {
    margin: 0 40px;
    border-radius: 5px;
    background-color: #f9f8f1;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

form #expenseName,
form #expenseAmount,
form #expenseType {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
}

form #enterExpense {
    background-color: #66bb6a;
    border: 2px solid #66bb6a;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 4px; 
    color: white;
    font-size: 16px;
    transition: 0.6s;
}

form #enterExpense:hover {
    background-color: white;
    color: #66bb6a;
    cursor: pointer;
}

#form {
    display: none;
}

#second {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#switchProfBtn {
    display: none;
}

#first {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#first #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    overflow: hidden;
}

#first #main form {
    display: none;
}

#first #main div input {
    height: 30px;
    width: 200px;
    margin: 5px 0px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}

#first #sideBar {
    border-left: solid black 2px;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

#first button {
    display: block;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 70px;
    background-color: #66bb6a;
    border-color: #66bb6a;
    border-radius: 3px;
    transition: .2s;
    border-style: solid;
}

#first button:hover {
    color: #66bb6a;
    background-color: white;
}

#first div div button {
    margin: 10px 1px 0px 1px;
    height: 25px;
    width: 63px;
    font-size: 12px;
    display: inline;
}

#first #cancelBtn, #first #clearBtn {
    background-color: red;
    border-color: red;
}

#first #cancelBtn:hover, #first #clearBtn:hover {
    color: red;
    background-color: white;
}

#first #logo {
    padding-bottom: 20px;
}

